@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.splash-screen {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.splash-screen.hidden {
  opacity: 0;
  display: none;
}
